/*スマホ入力時に拡大しない*/
input,textarea,select{font-size: 16px;}
/*ios用セレクトボックス*/
select {
  /* 👇デフォルトのスタイルを解除 */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* 👇スタイル */
  display: inline-block;
  width: 100%; /* 幅 */
  padding: 0.6em 1.5em 0.6em 0.5em; /* 文字周りの余白 */
  cursor: pointer; /* カーソルを指に */
  line-height: 1.4; /* 行高 */
  font-size: 0.95em; /* フォントサイズ */
  font-weight: 700; /* 太字に */
  color: #333; /* 文字色 */
  border-radius: 4px; /* 角丸 */
  background-color: #f7f9fb; /* 背景色 */
  border: solid 1px #e1e8ef; /* 枠線 */
  box-shadow: 0 3px 3px -2px rgba(3, 29, 41, 0.15); /* 影 */
  /* 👇三角マークを作る */
  background-image: linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.4) 50%),  linear-gradient(135deg, rgba(0,0,0,0.4) 50%, transparent 50%);
  background-size: 5px 5px, 5px 5px;
  background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
  background-repeat: no-repeat;
}


.contact_wrapper{height: auto;background-color:black;}
.contact_wrapper .contact_message{
  color: white;
  text-align: center;
  padding: 40px 0 40px 0;
  line-height: 18px;
  opacity: 0.8;
}
.input_form{
  width: 100%;
  font-size: 13px;
  margin-bottom:5px;
}
.input_form>.kanji,.mail,.phone,.question_type,.question_sentence{
  width: 15%;
  color: white;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}
.input_form>.require{
  width: 5%;
  display: inline-block;
  background-color: #FFD700;
  border-radius: 3px;
  padding:2px;
  text-align: center;
  box-sizing: border-box;
}
.input_form>.no_require{
  width: 5%;
  display: inline-block;
  background-color: rgba(238,238,238,1.0);
  border-radius: 3px;
  padding:2px;
  text-align: center;
  box-sizing: border-box;
}
.input_form>.name_form{
  width: 75%;
  padding:15px 0 15px 5px;
  border: 1px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 10px;
}


.text_middle>span{
  vertical-align:top;
  margin-top: 20px;
}
.form_btn{text-align: center;padding:20px 0 20px 0;}
.send_btn{
  color: white;
  font-size: 13px;
  background-color: #800000;
  box-shadow: 0px 2px #800000;
  display: inline-block;
  text-align: center;
  border: 0;
  cursor: pointer;
  padding:10px 60px 10px 60px;
  letter-spacing: 1.2px;
}
.send_btn:hover{opacity: 1.0;}
.send_btn:active{box-shadow: none;position: relative;top:2px;}