@media screen and (max-width:768px){
/*ナビゲーションエリア*/
.flex_menu{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: rgba(70,61,52,0.95);
}
.flex_menu>li{
  width: 50%;
  text-align: center;
  list-style: none;
  flex: auto;
  cursor: pointer;
  padding:15px 0 15px 0;
  box-sizing: border-box;
}
header>.logo {justify-content:center;}
header>.logo>.mnavi{display: none;}


/*フッターエリア*/
footer>.logo{justify-content:center;flex-wrap: wrap;}
footer>.logo>.address{
  width: 100%;
  text-align: center;
  margin-left: 60px;
  padding-top: 0px;}
}
footer>.logo>.address>p{font-size: 14px;line-height: 16px;}